//pkgs.dev.azure.com/golightstream/_packaging/lightstream/npm/registry/:username=golightstream 
//pkgs.dev.azure.com/golightstream/_packaging/lightstream/npm/registry/:_password=cGNvM2h1eW90a3hldnRyY2V2enZpdXp3dW94cWt2d3B4eGFpN3FycnF4b203ZjJudmdkcQ==
//pkgs.dev.azure.com/golightstream/_packaging/lightstream/npm/registry/:email=npm requires email to be set but doesn't use the value
//npm.fontawesome.com/:_authToken=CB00A621-B1DB-4412-B77D-FF4872EFD656
@fortawesome:registry=https://npm.fontawesome.com/
